.layout {
  min-height: calc(100vh - 64px);
}

.childrenLayout {
  padding: 0 24px 24px;
}

.header {
  display: flex;
  align-items: center;
}

.headerTitle {
  color: white
}

.content {
  padding: 24px;
  margin: 0;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}